<p id="notice"><%= notice %></p>

<h1>Listing Publications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Publication image</th>
      <th>categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.title %></td>
        <td><%= publication.description %></td>
        <td><%= image_tag(publication.publication_image , size: "50") %></td>
        <td><%= publication.category.try( :name) %></td>
        <td><%= link_to 'Mostrar', publication %></td>
        <td><%= link_to 'Editar', edit_publication_path(publication) %></td>
        <td><%= link_to 'Deletar', publication, method: :delete, data: { confirm: 'Deseja mesmo apagar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
