<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @publication.description %>
</p>

<p>
  <strong>Publication image:</strong>
  <%= image_tag(@publication.publication_image , size: "150") %>
</p>
<p>
  <strong>Categoria da notícia:</strong>
  <%= @publication.category.name %>
</p>


<%= link_to 'Editar', edit_publication_path(@publication) %> |
<%= link_to 'Voltar', publications_path %>
